PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb://localhost:27017/db_damar_backend_betest

JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=1d

REDIS_HOST=localhost
REDIS_PORT=6379

CORS_ORIGIN=http://localhost:5173
